@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'DM Sans', sans-serif;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(#005dc7 0, #005dc7 50%, #fff 50%, #fff 100%);
   min-height: 100vh;
}

.card {
   position: relative;
   width: 300px;
   height: 380px;
   display: flex;
   box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   transition: 0.5s ease-in-out;
}

.card:hover {
   width: 600px;
}

.card .imgBox {
   position: relative;
   min-width: 300px;
   height: 100%;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 10;
}

.card .imgBox img {
   max-width: 250px;
   transition: 0.5s ease-in-out;
}

.card .imgBox:hover img {
   transform: rotate(-35deg) translateX(-20px);
}

.card .details {
   position: absolute;
   left: 0;
   width: 300px;
   height: 100%;
   background: #005dc7;
   display: flex;
   justify-content: center;
   padding: 20px;
   flex-direction: column;
   transition: 0.5s ease-in-out;
}

.card:hover .details {
   left: 300px;
}

.card .details h3 {
   color: #fff;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 1.8em;
   line-height: 1em;
   font-family: 'Oswald', sans-serif;
}

.card .details h3 span {
   font-size: 0.65em;
   font-weight: 300;
   opacity: 0.85;
   text-transform: none;
}

.card .details h4 {
   color: #fff;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 0.9em;
   line-height: 1em;
   margin-top: 20px;
   margin-bottom: 10px;
}

p {
   color: #fff;
   font-size: 0.8em;
   opacity: 0.85;
}

.size {
   display: flex;
   gap: 10px;
}

.size li {
   list-style: none;
   color: #fff;
   font-size: 0.9em;
   width: 40px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid #fff;
   cursor: pointer;
   opacity: 0.5;
   transition: all 0.3s ease-in-out;
}

.size li:hover {
   background: #fff;
   color: #005dc7;
   opacity: 1;
}

.group {
   position: relative;
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   align-items: center;
}

.card .details h2 {
   color: #fff;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 2em;
}

.card .details h2 sup {
   font-weight: 300;
}

.card .details h2 small {
   font-size: 0.75em;
}

.card .details a {
   display: inline-flex;
   padding: 10px 25px;
   background: #fff;
   font-weight: 500;
   text-decoration: none;
   font-weight: 600;
   color: #005dc7;
   transition: all 0.3s ease-in-out;
   border: 2px solid #fff;
}

.card .details a:hover {
   transform: scale(1.05);
   background: transparent;
   color: #fff;
   border: 2px solid #fff;
}
